

GamePane{
    -fx-padding: 20px;

    -fx-alignment: center;
    -fx-hgap: 50px;
    -fx-vgap: 20px;


}

.lb_time{
    -fx-font-size: 20px;
}

/*#textArea{*/

    /*-fx-stroke-width: 5px;*/
    /*-fx-stroke: #000000;*/
/*}*/

Mines{
    -fx-pref-height: 30px ;
    -fx-pref-width: 30px;
    -fx-background-color: #00EE99;
    -fx-text-fill: #000000;
    -fx-background-insets: 2;


}

Mines:hover{
    -fx-background-color: #00EE00;
    -fx-text-fill: #000000;
    -fx-translate-y: -1px;
}

MineArea{
    /*-fx-pref-height: 450px;*/
    /*-fx-pref-width: 450px;*/
}



