

VBox{
    -fx-pref-width: 200px;
    -fx-pref-height: 400px;
    -fx-background-color: #AAAAAA;
    -fx-alignment: center;
    -fx-spacing: 20px;
}

Label{
    -fx-font-size: 16;

}

SkillPane{
    -fx-spacing: 20px;
    -fx-alignment: center;
    -fx-pref-height: 400px;
    -fx-pref-width: 800px;

}